.body_div{
    width: 80%;
    height: 100%;
    overflow :auto
}

.module_header {
    height: 40px;
    margin: 25px;
    padding: 0;
    border-bottom: 1px solid #f3f3f3;
}

.icp-selector {
    width: 60px;
}

.module_content .content_label{
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.body_div .div_button{
    width: 30%;
    background-color: #008AD4;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.spin{
    margin-top:20%;
    margin-left:40%;
    position:absolute;
    z-index:999
}