@charset "utf-8";
.header,.footer{ position:absolute; left:0; right:0; bottom:0; width:100%; z-index:99}
.loginWraper{ position:absolute;width:100%; left:0; top:0; bottom:0; right:0; z-index:1; background:#3283AC url(./img/login-bg.png) no-repeat center}
.loginBox{ position:absolute; width:617px; height:330px; background:url(./img/loginform-bg.png) no-repeat; left:50%; top:50%; margin-left:-309px; margin-top:-184px; padding-top:38px}
@media (max-width:617px) {
	.loginbox{ width:100%; position:static; margin-top:0; margin-left:0;}
}
.loginBox .row{margin-top:20px;}
.loginBox .row .form-label .Hui-iconfont{ font-size:24px}
.loginBox .input-text{ width:360px;border-radius: 5px}
@media (max-width:617px) {
	.loginBox .input-text{ width:80%}
}

.submit{
	width:360px;
	height:35px;
	border-radius: 5px;
	background:#5a98de;
	border:none;
	font-size: 16px;
	color:#fff;
}

.spin{
	position:absolute;
	margin-left:300px;
	margin-top:120px;
}